---
const {title=""} = Astro.props;
---
<div class="header">
    <h2 class="title-1">{title}</h2>
    <button class="btn btn-text btn-secondary">show all</button>
</div>

<style>
    .header {
        max-width: 125.6rem;
        margin: 0 auto;

        display: flex;
        justify-content: space-between;
        align-items: center;
    }
</style>