---
import { Image } from "astro:assets";

import imgInsta1 from "../assets/images/instagram/insta-1.png";
import imgInsta2 from "../assets/images/instagram/insta-2.png";
import imgInsta3 from "../assets/images/instagram/insta-3.png";
import imgInsta4 from "../assets/images/instagram/insta-4.png";
---
<section class="insta-feed">
    <h2 class="title-1">#YellowKitchens <span>on instagram</span></h2>
    <div class="feed">
        <div class="photo">
            <Image src={imgInsta1} alt="Insta post photo" />
        </div>
        <div class="photo">
            <Image src={imgInsta2} alt="Insta post photo" />
        </div>
        <div class="photo">
            <Image src={imgInsta3} alt="Insta post photo" />
        </div>
        <div class="photo">
            <Image src={imgInsta4} alt="Insta post photo" />
        </div>
    </div>
</section>

<style>
    .insta-feed {
        width: min(125.6rem, 100vw - 8rem);
        margin-inline: auto;
        margin-block: 7.2rem;

        h2 span {
            color: var(--color-second-text);
        }

        .feed {
            margin-top: 2.1rem;

            display: flex;
            gap: 2.4rem;

            .photo {
                border-radius: 6px;
                overflow: hidden;
            }
        }
    }
</style>