---
import {Image} from 'astro:assets';
import logo from "../assets/images/logo/logo.svg";
import logoDark from "../assets/images/logo/logo-dark.svg";

const {type = 'light'} = Astro.props;
---
<a href="/" class='logo' >
    {type === 'light' && <Image src={logo} alt="Logo" />}
    {type === 'dark' && <Image src={logoDark} alt="Logo">}
</a> 