---

---
<section class="map">
    <img src="/public/images/Map.png" alt="Map">
</section>

<style>
    .map {
        width: min(128rem, 100vw - 8rem);
        margin: 0 auto;
        margin-top: 6.2rem;
    }
</style>