---
import { Image } from "astro:assets";

import map from "../assets/images/Map.png";
---
<section class="map">
    <Image src={map} alt="Map">
</section>

<style>
    .map {
        width: min(128rem, 100vw - 8rem);
        margin: 0 auto;
        margin-top: 6.2rem;
    }
</style>