---

---
<button class="btn btn-round" id="menuBtn">
    <svg width="24" height="24" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
        <path d="M24 13H0V11H24V13Z" />
        <path d="M24 2H0V0H24V2Z" />
        <path d="M24 24H0V22H24V24Z" />
    </svg>
</button>
<nav class="closed">
    <ul>
        <li><a href="#!">Phone</a></li>
        <li><a href="#!">Delivery info</a></li>
        <li><a href="#!">About us</a></li>
        <li><a href="#!">Restaurants</a></li>
        <li><a href="#!">Specialities</a></li>
    </ul>
</nav>

<style>
    .closed {
        display: none;
    }
</style>