---

---
<div class="container">
    <section class="usp">
        <div class="card mr46">
            <img src="public/icons/ui/usp-time-eat.svg" alt="USP Icon">
            <p class="p">Delivery in all Paris<br/> in less than 30 minutes</p>
        </div>
        <div class="card mr39">
            <img src="public/icons/ui/usp-delivery.svg" alt="USP Icon">
            <p class="p">Free delivery<br/> from 29 euros</p>
        </div>
        <div class="card">
            <img src="public/icons/ui/usp-paris.svg" alt="USP Icon">
            <p class="p">Only fresh<br/> and french products</p>
        </div>
    </section>
</div>

<style>
    .usp {
        width: fit-content;
        margin-top: 1rem;
        padding-block: 2.4rem;
        padding-left: 9.2rem;
        padding-right: 2.5rem;
        box-shadow: 0 8px 40px 0 rgba(0, 0, 0, 0.08);
        
        display: flex;

        .mr46 {
            margin-right: 4.6rem;
        }
    
       .mr39 {
            margin-right: 3.9rem;
       }

       .card {
            display: flex;
            gap: 1.6rem;

            img {
                width: 4.8rem;
                height: 4.8rem;
            }
       }
    }
</style>